﻿@{
    ViewData["Title"] = "About";

}

@section Styles {
    <link href="~/css/About.css" rel="stylesheet" type="text/css" />
}
<div>


    <nav class="navbar navbar-expand-lg navbar-dark rounded-bottom">
        <a class="navbar-brand" href="/Login/Index"><img src="~/images/logoavus.png" width="65" alt="" class=""> </a>





        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item"><h1 class="nav-link" href="/Login/Index">Avus</h1></li>
        </ul>

        <button class="navbar-toggler float-md-none" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse main-menu-item justify-content-end"
             id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center order-3 order-md-none">
                <li class="nav-item">
                    <a class="nav-link"href="/Login/Index">Inicio</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Login" asp-action="About">Sobre nosotros</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>


        </div>



    </nav>
</div>
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">OUR TEAM</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/images/about/gabi.jpg" alt="card image"></p>
                                    <h4 class="card-title">Gabriel Torralba Paz</h4>

                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">

                                    <p class="card-text">
                                        Soy físico graduado UB. Desarollando una formación por parte de la Fundació Esplai en .NET y SQL. Por ahora solo he dado clases partículares, tengo experiencia en Python, Fortran, C++ y (HTML5, C#, CSS, JavaScript y SQL). Como dato, durante la carrera actué en 4 obras de teatro durante el grado.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center text-sm" target="_blank" href="#">
                                                <i class="fa fa-linkedin">/gabriel-torralba</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member Alberto-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/images/about/alberto.jpg" alt="card image"></p>
                                    <h4 class="card-title">
                                        Alberto García Reñé
                                    </h4>

                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p class="card-text">Me considero una persona autodidacta con facilidad para aprender. Centrado en progresar personal y profesionalmente, siempre dispuesto a afrontar cualquier reto.</p>

                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center text-sm" target="_blank" href="#">
                                                <i class="fa fa-linkedin">/albertogarren</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member Bryan-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/images/about/tino.jpg" alt="card image"></p>
                                    <h4 class="card-title">
                                        Tino Brayan Estrada
                                    </h4>

                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">
                                        Soy una persona comunicativa, con facilidad de adaptación y con capacidad de trabajar en equipo,
                                        estas cualidades se fortalecieron más aun con mi última experiencia laboral. Actualmente estoy en
                                        búsqueda de nuevas oportunidades que me permitan seguir creciendo profesionalmente y
                                        personalmente.
                                    </p>
                                    <ul class="list-inline">
                                       
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center text-sm" target="_blank" href="#">
                                                <i class="fa fa-linkedin">/tino-brayan-estrada</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member jose-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/images/about/jose.jpg" alt="card image"></p>
                                    <h4 class="card-title">
                                        Jose Miguel Rosillo Nieto
                                    </h4>

                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                   
                                    <p class="card-text">Apasionado de las nuevas tecnologías, empático, optimista y buen compañero de equipo. Motivado por formar parte de un proyecto dónde poder aplicar los conocimientos que he adquirido y continuar aprendiendo para desarrollar mi carrera profesional. </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center text-sm" target="_blank" href="#">
                                                <i class="fa fa-linkedin">/joserosillonieto</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member erik-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/images/about/erik.jpg" alt="card image"></p>
                                    <h4 class="card-title">
                                        Erik Jiménez García
                                    </h4>

                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">
                                        Programador con un gran entusiasmo en nuevos conocimientos, capaz de
                                        hacer frente a los obstáculos que se presenten.
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center text-sm" target="_blank" href="#">
                                                <i class="fa fa-linkedin">/erik-jimenez-garcia</i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>


