﻿
@{
    ViewData["Title"] = "EstudianteYAbuelo";
}

    <h1 class="display-3">¿Qué eres?</h1>
    <div class="row margin">
        <div class="col-sm-1"></div>
        <div class="col-sm-5 centered">
            <!--Botón Abuelo. Dos imágenes que cambiaran cuando se pasa el ratón por encima.-->
            <a type="button" class="btn btn-outline-dark boton rounded botonSelector" role="button" asp-controller="Abuelos" asp-action="FormAbuelo">
                <img src="~/images/old-man.png" class="estAbu on" alt="Grandparent">
                <img src="~/images/old-man-with-hat-walking-with-cane.png" class="estAbu off" alt="Grandparent">
                <h1>Abuelo</h1>
            </a>
        </div>
        <div class="col-sm-5 centered">
            <!--Botón Estudiante. Dos imágenes que cambiaran cuando se pasa el ratón por encima.-->
            <a type="button" class="btn btn-outline-dark boton rounded botonSelector" role="button" asp-controller="Estudiantes" asp-action="FormEstudiante">
                <img src="~/images/book.png" class="estAbu on" alt="Student">
                <img src="~/images/open-book.png" class="estAbu off" alt="Student">
                <h1>Estudiante</h1>
            </a>
        </div>
        <div class="col-sm-1"></div>
    </div>