﻿@{
    ViewData["Title"] = "Login";
}

<div>


    <nav class="navbar navbar-expand-lg navbar-dark rounded-bottom">
        <a class="navbar-brand" href="/Login/Index"><img src="~/images/logoavus.png" width="65" alt="" class=""> </a>

        <ul class="nav navbar-nav mx-auto">
            <li class="nav-item"><h1 class="nav-link " href="#">Avus</h1></li>
        </ul>

        <button class="navbar-toggler float-md-none" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse main-menu-item justify-content-end"
             id="navbarSupportedContent">
            <ul class="navbar-nav align-items-center order-3 order-md-none">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Login" asp-action="About">Sobre Nosotros</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>


        </div>
    </nav>
</div>


<div class="row">
    <div class="col-md-6 order-md-last footerEnBlanco">
        <!--Carta para logearse-->
        <div class="card carta rounded">
            <div class="card-body">
                <h5 class="card-title">Iniciar Sesión</h5>

                <form action="/Login/SearchEmail" method="post">
                    <div class="form-group">
                        <div class="input-group mb-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="iconemail">
                                    <i class="fa fa-at" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="email" class="form-control" name="email" id="email1" aria-describedby="emailHelp"
                                   placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="iconpass">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" name="password" id="pass" placeholder="Contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary blocked">Entrar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!--Carta para registrarse-->
    <div class="col-md-6">
        <div class="card carta rounded footerEnBlanco">
            <div class="card-body">
                <h5 class="card-title">Registrarse</h5>
                <p class="card-text">Eres estudiante? Únete y encuentra un lugar donde vivir mientras estudias.</p>
                <p class="card-text">Eres abuelo? Encuentra a alguien que te de compañia.</p>
                <p class="card-text">Seas lo que sea, gracias a AVUS, podrás encontrar la necesidad que buscas.</p>

                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn btn-primary btnlg btn-block dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Regístrate ahora
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" asp-controller="Abuelos" asp-action="FormAbuelo">Abuelo</a>
                        <a class="dropdown-item" asp-controller="Estudiantes" asp-action="FormEstudiante">Estudiante</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


