﻿@model Avus_02.Model.OpinionesEstudiante

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>OpinionesEstudiante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Opinion" class="control-label"></label>
                <input asp-for="Opinion" class="form-control" />
                <span asp-validation-for="Opinion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAbuelo" class="control-label"></label>
                <select asp-for="IdAbuelo" class ="form-control" asp-items="ViewBag.IdAbuelo"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdEstudiante" class="control-label"></label>
                <select asp-for="IdEstudiante" class ="form-control" asp-items="ViewBag.IdEstudiante"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
