﻿@model Avus_02.Model.OpinionesEstudiante

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>OpinionesEstudiante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Opinion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opinion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdAbueloNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAbueloNavigation.IdAbuelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEstudianteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstudianteNavigation.IdEstudiante)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdOpinionesEstudiante">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
