﻿@model Avus_02.Model.Solicitud

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaSolicitud)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaSolicitud)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aceptacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aceptacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaPrimerDia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaPrimerDia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FechaUltimoDia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaUltimoDia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdEstudianteNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdEstudianteNavigation.IdEstudiante)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdHabitacionNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdHabitacionNavigation.IdHabitacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdSolicitud">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
