﻿@model IEnumerable<Avus_02.Model.Solicitud>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaSolicitud)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aceptacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaPrimerDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaUltimoDia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstudianteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHabitacionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSolicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aceptacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPrimerDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaUltimoDia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstudianteNavigation.IdEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHabitacionNavigation.IdHabitacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSolicitud">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdSolicitud">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdSolicitud">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
