﻿@model IEnumerable<Avus_02.Model.OpinionesAbuelo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Opinion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAbueloNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstudianteNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Opinion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAbueloNavigation.IdAbuelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstudianteNavigation.IdEstudiante)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOpinionesAbuelo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOpinionesAbuelo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOpinionesAbuelo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
