﻿@namespace Avus_02.Model
@model SubirFoto

@{
    ViewData["Title"] = "CrearHabitacion";
    Layout = "_LayoutAbuelo";
    //Esta lista sería para guardar muchas imágenes del tirón, pero no se como hacerlo.
    List<SubirFoto> listaFotos = new List<SubirFoto>();
}

<br>
<form asp-action="Create" enctype="multipart/form-data">
    <!-- Esto es para poner nombre a la habitacion, pero como no tiene un hueco en la BBDDse quita y se pone automático el nombre
        con JS
    <div class="form-group row">
        <label class="col-md-3 white-text" for="title">Nombre de la habitación:</label>
        <div class="col-md-9">
            <input type="text" name="title" id="title" class="form-control"
                   placeholder="Nombre de la habitación" aria-describedby="helpId">
        </div>
    </div>
    -->
    <div class="form-group row">
        <label class="col-md-2 " for="">Detalles:</label>
        <div class="col-4 ml-3 ml-md-0 col-md-2 col-offset-md-2 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="Invitados" id="Invitados">
            <label for="Invitados" class="form-check-label ">Invitados</label>
        </div>
        <div class="col-4 ml-3 ml-md-0 col-md-2 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="Fumar" id="Fumar">
            <label for="Fumar" class="form-check-label ">Fumadores</label>
        </div>
        <div class="col-4 ml-3 ml-md-0 col-offset-md-none col-md-2 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="Mascotas" id="Mascotas">
            <label for="Mascotas" class="form-check-label ">Mascotas</label>
        </div>
        <div class="col-4 ml-3 ml-md-0 col-md-2 form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="Wifi" id="Wifi">
            <label for="Wifi" class="form-check-label ">Wi-Fi</label>
        </div>
    </div>
    <div class="form-group row">
        <label for="Descripcion" class="col-md-3 ">Descripción de la habitación:</label>
        <div class="col-md-9">
            <textarea name="Descripcion" id="Descripcion" class="boxsizingBorder" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <label for="imagenes" class="col-md-3">Imágenes de la habitación:</label>
        <div class="col-md-9 col-lg-4">
            <input asp-for="MyImage" class="form-control-line " id="imagen">
        </div>
        <!--Todo esto de abajo es útil si se hace con listas de imágenes-->
        <div class="col-md-5 offset-md-3 col-lg-3 mt-3 mt-md-0  ml-lg-5 ml-xl-0">
            <button class="btn btn-secondary btn-sm" onclick="addFile()" type="button">Añadir imagen</button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-8 offset-2 col-md-6 offset-md-3">
            <ul class="list-group" id="listaImagenes">
                <li class="list-group-item" id="img"></li>
                <li class="list-group-item" id="img"></li>
                <li class="list-group-item" id="img"></li>
                <li class="list-group-item" id="img"></li>
                <li class="list-group-item" id="img"></li>
            </ul>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3 offset-2 col-md-3 offset-md-3">
            <a asp-controller="Abuelos" asp-action="Habitaciones" class="btn btn-primary white-text"
               role="button">Volver</a>
        </div>
        <div class="col-4 col-md-4">
            <input class="btn btn-primary" value="Añadir Habitación" type="submit">
        </div>
    </div>
</form>
<br>

<script>
    //Añade una imagen a la lista de imagenes
function addFile() {
    try {
        let name = $('#imagen')[0].files[0]['name'];
        let listItems = $('ul#listaImagenes li');
        listItems.each(function(){
            if($(this).text().length > 0){
            }
            else{
                $(this).text(name);
                return false;
            }
        });
    } catch (error) {
    }
}

//Remove item from list.
$('li#img').click(function(){
    $(this).text('');
})
</script>