﻿@model Avus_02.Model.Habitacion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Habitacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fumar)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fumar)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Wifi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Wifi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mascotas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mascotas)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Invitados)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Invitados)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdAbueloNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdAbueloNavigation.IdAbuelo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdHabitacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
