﻿@model IEnumerable<Avus_02.Model.Habitacion>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fumar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wifi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mascotas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invitados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdAbueloNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fumar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wifi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mascotas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Invitados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAbueloNavigation.IdAbuelo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdHabitacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdHabitacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdHabitacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
