﻿html {
    background: url("../images/57368.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: #00ffff00;
}

div.container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}

div.tituloh1 {
    text-align: center;
    margin-bottom: 20px;
}

span.centrarTitulo {
    font-size: 50px;
    text-align: center;
    color: #123548;
    font-family: 'Pacifico', cursive;
    background-color: #ffeeee99;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.footerEnBlanco {
    color: white;
}
/*Layout*/
img.logo {
	width: 30%;
	height: auto;
	
}

img.small-icon {
	width: 12%;
}



@media (max-width: 992px) and (min-width: 768px){
	img.logo{
		min-width: 150%;
	}
}

@media (max-width: 768px){
	img.small-icon{
		width: 30%;
	}
}

.img-circle {
    border-radius: 50%;
}

.text-muted {
    color: #6c757d !important;
}

.card {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
}

/*Clases para Solicitudes*/

div.card-transparency {
    background-color: #f8f9fa;
    opacity: 0.88;
}

card.bg-green {
    background-color: #64e21a;
}

img.responsive{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

/*Clases de habitaciones*/

@media (min-width: 992px){
    h1.text-responsive{
        font-size: 3vw;
    }
}

#cartaLlena{
    width: auto;
    height: auto;
}

div.circle {
    width: 120px;
    height: 120px;
    background-color: blue;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

i.bigPlus {
    font-size: 70px;
    margin: 0;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*Clases para el autocomplete*/
.input-group.autocomplete {
    z-index: 50;
    position: relative;
    display: inline-block;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

    /*when hovering an item:*/
    .autocomplete-items div:hover {
        background-color: #e9e9e9;
    }

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 6%;
    right: 6%;
}

/*Fuente de color del autocompletado*/
.fuenteFormulario {
    color: black;
}


/*Pintar la opcion predeterminada de un selector en rojo */

select.select-rojo {
    color: red;
}

/*CSS EditarEstudiante*/

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}


.bigicon {
    font-size: 200%;
    width: 1%;
    color: #36A0FF;
}