﻿body {
    background:  url("../images/fondo_index.jpg") no-repeat center center fixed;
    background-size: cover;
    
}




/*CSS estudianteOabuelo*/
h1.display-3 {
    margin-top: 4%;
    margin-bottom: -4%;
    text-align: center;
    color: white;
}
.footerEnBlanco {
    color: white;
}

img.estAbu {
    text-align: center;
    width: 50%;
    padding-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: -7%;
}

img.on {
    display: block;
}

img.off {
    display: none;
}

div.margin {
    margin-top: 10%;
}

div.centered {
    width: 10%;
}
/*Esto es para cambiar la imagen del botón cuando se pasa el ratón por encima*/
a.boton:hover {
    background-color: lightslategrey;
}

    a.boton:hover img.on {
        display: none;
    }

    a.boton:hover img.off {
        display: block;
    }

a.boton {
    margin-bottom: 10%;
}

/*CSS Login*/
div.carta {
    position: relative;
    width: 90%;
    height: 80%;
    margin: 50px 0 0px 5%;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.card {
    background-color: rgba(41, 43, 44, 0.74);
}


/*Transparencia en el container*/
div.container {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
}

a.blocked {
    display: block;
    text-align: center;
    margin: auto;
}

div.blocked {
    text-align: center;
    margin: 5%;
}


h1.titulo {
    text-align: center;
    color: #123548;
    font-family: 'Pacifico', cursive;
    background-color: #ffeeee99;
    border-radius: 12px;
}

h1.nav {
    text-align: center;
    color: #123548;
    font-family: 'Pacifico', cursive;
    background-color: #ffeeee99;
    border-radius: 12px;
}

h1.logos {
    text-align: center;
}

div.tituloh1 {
    text-align: center;
    margin-bottom: 20px;
}

a.botonSelector {
    background-color: #ffffff80;
}

    a.botonSelector:hover {
        background-color: #12354880;
    }

    a.botonSelector:active {
        background-color: #123548d9 !important;
        border: 4px red solid !important;
    }

span.centrarTitulo {
    font-size: 50px;
    text-align: center;
    color: #123548;
    font-family: 'Pacifico', cursive;
    background-color: #ffeeee99;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Logo pequeño*/
img.logo {
    margin-top: 1%;
    text-align: center;
    width: 7%;
    height: 7%;
}

div.input-group-prepend {
    flex: 0 0 10%;
}

.input-group .input-group-text {
    width: 100%;
}

/*CSS formAbuelo y formEstudiante*/

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}


.bigicon {
    font-size: 200%;
    width: 1%;
    color: #36A0FF;
}

/*CSS offset formEstudiante*/

#offsetLeft {
    margin-left: 1.5%;
}

#offsetIcon {
    margin-left: -1.5%;
}

/*Clases para el autocomplete*/


.input-group.autocomplete{
    z-index: 50;
    position: relative;
    display: inline-block;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

    /*when hovering an item:*/
.autocomplete-items div:hover {
        background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 6%;
    right: 6%;
}

/*Fuente de color del autocompletado*/
.fuenteFormulario {
    color: black;
}

/*Pintar la opcion predeterminada de un selector en rojo */

select.select-rojo {
    color: red;
}
