﻿@model Avus_02.Model.Abuelo;

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="utf-16" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto_FE_Avus</title>

    <environment include="Development">
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/Abuelo.css" />
        <link rel="stylesheet" href="~/css/Footer.css" />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="~/js/site.js"></script>
        <script src="~/js/ValidacionEdit.js"></script>
    </environment>
    @RenderSection("Styles", false)
</head>
<body>
    <!--   <div class="container">
           <nav class="navbar navbar-fixed-top navbar-expand-md navbar-light bg-light" display="">
               <div class="col-4 d-md-none order-md-0">
                   <button class="navbar-toggler float-left float-md-none" type="button" data-toggle="collapse"
                           data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                           aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
                   </button>
               </div>
               <div class="col-4 col-md-1 px-n5 col-lg-2 order-0 order-md-2">
                   <img class="navbar-brand logo img-responsive d-flex mx-auto float-md-left" src="~/images/logoavus.png" alt="NoLogo" />
               </div>
               <div class="collapse navbar-collapse col-md-4 col-lg-5 order-last order-md-2" id="navbarSupportedContent">
                   <ul class="navbar-nav">
                       <li class="nav-item @ViewData["SolicitudClass"]" id="barraSolicitudes">
                           <a class="nav-link" asp-controller="Abuelos" asp-action="Solicitudes">
                               <h3>Solicitudes</h3>
                           </a>
                       </li>
                       <li class="nav-item @ViewData["HabitacionClass"]" id="barraHabitaciones">
                           <a class="nav-link" asp-controller="Abuelos" asp-action="Habitaciones">
                               <h3>Habitaciones</h3>
                           </a>
                       </li>
                       <li class="nav-item @ViewData[" HabitacionClass"]" id="barraHabitaciones">
                           <a class="nav-link" asp-controller="Abuelos" asp-action="EditarAbuelo">
                               <h3>Editar Perfil</h3>
                           </a>
                       </li>
                       <li class="nav-item @ViewData["HabitacionClass"]" id="barraHabitaciones">
                           <a class="nav-link" asp-controller="Login" asp-action="Logout">
                               <h3>Logout</h3>
                           </a>
                       </li>
                   </ul>
               </div>
               <div class="responsive-div col-4 col-md-7 col-lg-5 text-right order-2 order-md-last">
                   <a class="" asp-controller="Abuelos" asp-action="EditarAbuelo">
                       <img class="small-icon d-inline-block rounded-circle img-responsive img-fluid"
                            src="~/images/old-man-with-hat-walking-with-cane.png" />
                   </a>
                   <h5 class="d-none d-md-inline-flex">@Html.DisplayFor(abuelo => abuelo.Nombre) @Html.DisplayFor(abuelo => abuelo.Apellidos)</h5>
               </div>
           </nav>
       </div>
        -->
    <div class="container body-content">
        <div>


            <nav class="navbar navbar-expand-lg navbar-dark avus-navbar rounded-bottom">
                <a class="navbar-brand" href="/Login/Index"><img src="~/images/logoavus.png" width="65" alt="" class=""> </a>





                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item @ViewData["HabitacionClass"]" id="barraHabitaciones">
                        <a class="nav-link" asp-controller="Abuelos" asp-action="VerPerfilMio">
                            <h5 class="d-none d-md-inline-flex">@Html.DisplayFor(abuelo => abuelo.Nombre) @Html.DisplayFor(abuelo => abuelo.Apellidos)</h5>
                        </a>
                    </li>                </ul>

                <button class="navbar-toggler float-md-none" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse main-menu-item justify-content-end"
                     id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-center order-3 order-md-none">
                        

                        <li class="nav-item @ViewData["SolicitudClass"]" id="barraSolicitudes">
                            <a class="nav-link" asp-controller="Abuelos" asp-action="Solicitudes">
                                <h3>Solicitudes</h3>
                            </a>
                        </li>
                        <li class="nav-item @ViewData["HabitacionClass"]" id="barraHabitaciones">
                            <a class="nav-link" asp-controller="Abuelos" asp-action="Habitaciones">
                                <h3>Habitaciones</h3>
                            </a>
                        </li>
                        <li class="nav-item @ViewData[" HabitacionClass"]" id="barraHabitaciones">
                            <a class="nav-link" asp-controller="Abuelos" asp-action="EditarAbuelo">
                                <h3>Editar Perfil</h3>
                            </a>
                        </li>
                        <li class="nav-item @ViewData["HabitacionClass"]" id="barraHabitaciones">
                            <a class="nav-link" asp-controller="Login" asp-action="Logout">
                                <h3>Salir</h3>
                            </a>
                        </li>

                    </ul>


                </div>



            </nav>
        </div>
        @RenderBody()
        <hr />
    </div>
    <section id="footer">
        <div class="container">
            <div class="row rounded">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 ">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                </hr>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p class="h6">&copy Todos los derechos reservados.<a class="text-green ml-2" href="#" target="_blank">Avus</a></p>
                </div>
                </hr>
            </div>
        </div>
    </section>
    <!--<partial name="_CookieConsentPartial" />-->
    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
