﻿@model Avus_02.Model.FotoHabitacion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FotoHabitacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdHabitacionNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdHabitacionNavigation.IdHabitacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdFotoHabitacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
