﻿@model IEnumerable<Avus_02.Model.FotoHabitacion>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHabitacionNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHabitacionNavigation.IdHabitacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFotoHabitacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdFotoHabitacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdFotoHabitacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
