﻿@model Avus_02.Model.Abuelo
@{
    ViewData["Title"] = "EditarAbuelo";
    Layout = "_LayoutAbuelo";
}

<div class="row text-center">
    <div class="col-md-12">
        <div class="well well-sm">
        

            <form asp-action="EditarAbuelo" class="form-horizontal footerEnBlanco">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdAbuelo" />
                <input type="hidden" asp-for="Nombre" />
                <input type="hidden" asp-for="Apellidos" />
                <input type="hidden" asp-for="Nacionalidad" />
                <input type="hidden" asp-for="Dni" />
                <input type="hidden" asp-for="FotoPerfil" />
                <input type="hidden" asp-for="FechaNacimiento" />
                <input type="hidden" asp-for="Sexo" />

                <div class="card mt-5"> </div>

                    <div class="form-group">
                        <div class="col-md-12 mt-5">
                            <span class="centrarTitulo">
                                Editar información
                            </span>
                        </div>
                    </div>                  <!--Forms con icono y input bien puesto-->
                    <fieldset>
                        <div class="row">
                            <div class="col-md-1">
                            </div>
                            <span class="col-md-1 mb-2"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="form-goup col-md-4 mb-3">
                                <input asp-for="Email" id="Email" name="Email" type="email" placeholder="nombre@correo.com"
                                       class="form-control">
                            </div>
                            <span class="col-md-1 col-md-offset-2 mb-2">
                                <i class="fa fa-unlock-alt bigicon"></i>
                            </span>
                            <div class="col-md-4 d-inline-block mb-3">

                                <div class="input-group">
                                    <input asp-for="Password" id="Password" name="Password" type="password" placeholder="Contraseña"
                                           class="form-control">
                                    <div class="input-group-append">
                                        <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                                    </div>

                                </div>
                            </div>
                                <div class="col-md-1"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-1"></div>


                            <span class="col-md-1 mb-2"><i class="fa fa-phone-square bigicon"></i></span>
                            <div class="form-group col-md-4 d-inline-block mb-3">
                                <input asp-for="Telefono" id="Telefono" name="Telefono" type="text" placeholder="Ej. 615231546"
                                       class="form-control">
                            </div>
                            <div class="col-md-1"></div>
                        </div>


                        <div class="row fuenteFormulario">
                            <div class="col-md-2"></div>
                            <div class=" form-group col-md-4 autocomplete">
                                <label for="Pais">Pais</label>
                                <input asp-for="Pais" id="Pais" class="form-control autocomplete" type="search" placeholder=""
                                       name="Pais" />
                            </div>
                            <div class="form-group col-md-3 autocomplete">
                                <label for="Comunidad">Comunidad</label>
                                <input asp-for="Comunidad" id="Comunidad" class="form-control autocomplete" type="search"
                                       placeholder="" name="Comunidad" />
                            </div>
                            <div class="form-group col-md-2 autocomplete">
                                <label for="Localidad">Provincia</label>
                                <input asp-for="Localidad" id="Localidad" class="form-control autocomplete" type="search"
                                       placeholder="" name="Localidad" />
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="row fuenteFormulario">
                            <div class="col-md-2"></div>
                            <div class="form-group col-md-2 ">
                                <label for="CodigoPostal">CP</label>
                                <input asp-for="CodigoPostal" id="CodigoPostal" class="form-control autocomplete" type="search"
                                       placeholder="" name="CodigoPostal" />
                            </div>
                            <div class="form-group col-md-7">
                                <label for="Direccion">Dirección</label>
                                <input asp-for="Direccion" id="Direccion" class="form-control">
                            </div>

                            <div class="col-md-1"></div>
                        </div>



                        <div class="row">
                            <div class="col-md-1"></div>

                            <span class="col-md-1 mb-2 px-xl-5 px-md-4">
                                <i class="fa fa-comment bigicon d-inline-block "></i>
                            </span>
                            <div class="col-md-9 mb-3">
                                <textarea asp-for="Descripcion" class="form-control"
                                          placeholder="Introduce una descripción:"
                                          rows="8"></textarea>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <!-- <input type="submit" value="Save" class="btn btn-default btn btn-primary btn-lg"/> -->
                            <!-- <button type="submit" class="btn btn-primary btn-lg">Submit</button> -->
                            <input type="submit" id="btnvalidar" class="btn btn-primary" value="Guardar">
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
    EditAbuelo();
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

