﻿@namespace Avus_02.Model
@model SubirFoto
@{
    ViewData["Title"] = "FormAbuelo";
}

    <div>


        <nav class="navbar navbar-expand-lg navbar-dark rounded-bottom">
            <a class="navbar-brand" href="/Login/Index"><img src="~/images/logoavus.png" width="65" alt="" class=""> </a>

            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item"><h1 class="nav-link " href="#">Avus</h1></li>
            </ul>

            <button class="navbar-toggler float-md-none" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse main-menu-item justify-content-end"
                 id="navbarSupportedContent">
                <ul class="navbar-nav align-items-center order-3 order-md-none">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Login" asp-action="About">Sobre Nosotros</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacto</a>
                    </li>
                </ul>


            </div>
        </nav>
    </div>

<div class="row text-center">
    <div class="col-md-12">
        <div class="well well-sm">
            <form asp-action="Create" asp-controller="Abuelos" id="abueloForm" class="form-horizontal" enctype="multipart/form-data" method="post">
                <fieldset>
                   
                    <!--Forms con icono y input bien puesto-->
                   <div class="card mt-5">
                       <div class="form-group">
                           <div class="col-md-12 mt-5">
                               <span class="centrarTitulo">
                                   Abuelo
                               </span>
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-md-1">
                           </div>
                           <span class="col-md-1 mb-2 mt-2"><i class="fa fa-user bigicon"></i></span>
                           <div class="form-group col-md-4 d-inline-block mb-2 mt-2">
                               <input id="Nombre" name="Nombre" type="text" placeholder="Nombre" class="form-control">
                           </div>
                           <div class="form-goup col-md-5 d-inline-block mb-3 mt-2">
                               <input id="Apellidos" name="Apellidos" type="text" placeholder="Apellidos"
                                      class="form-control">
                           </div>
                           <div class="col-md-1">
                           </div>
                       </div>
                       <div class="row">
                           <div class="col-md-1">
                           </div>
                           <span class="col-md-1 mb-2"><i class="fa fa-envelope-o bigicon"></i></span>
                           <div class="form-goup col-md-4 mb-3">
                               <input id="Email" name="Email" type="email" placeholder="nombre@correo.com"
                                      class="form-control">
                           </div>
                           <span class="col-md-1 col-md-offset-2 mb-2">
                               <i class="fa fa-unlock-alt bigicon"></i>
                           </span>
                           <div class="col-md-4 d-inline-block mb-3">
                               <div class="input-group">
                                   <input id="Password" name="Password" type="password" placeholder="Contraseña" class="form-control">
                                   <div class="input-group-append">
                                       <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-1"></div>
                       </div>

                       <div class="row">
                           <div class="col-md-1"></div>
                           <span class="col-md-1 mb-2"><i class="fa fa-id-card bigicon"></i></span>
                           <div class=" form-group col-md-4 d-inline-block mb-3">
                               <input id="Dni" name="Dni" type="text" placeholder="Documento de identidad"
                                      class="form-control">
                           </div>
                           <span class="col-md-1 mb-2"><i class="fa fa-phone-square bigicon"></i></span>
                           <div class="form-group col-md-4 d-inline-block mb-3">
                               <input id="Telefono" name="Telefono" type="text" placeholder="Ej. 615231546"
                                      class="form-control">
                           </div>
                           <div class="col-md-1"></div>
                       </div>
                       <div class="row">

                           <div class="col-md-1"></div>
                           <span class="col-md-1 mb-2"><i class="fa fa-calendar bigicon"></i></span>
                           <div class="col-md-4 d-inline-block mb-3">
                               <div class="input-group">
                                   <input placeholder="Fecha de nacimiento" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                                          id="FechaNacimiento" name="FechaNacimiento" min="1900-01-01" max="2011-12-31">
                               </div>
                           </div>
                           <span class="col-md-1 mb-2">
                               <i id="offsetIcon"
                                  class="fa fa-venus-mars bigicon"></i>
                           </span>
                           <div class="col-md-4 d-inline-block mb-3">
                               <select id="Sexo" name="Sexo" type="text" class="custom-select">
                                   <option value="0" selected>Género</option>
                                   <option value="1">Hombre</option>
                                   <option value="2">Mujer</option>
                                   <option value="3">Otro</option>
                               </select>

                           </div>
                           <div class="col-md-1"></div>
                       </div>

                       <div class="row fuenteFormulario">
                           <div class="col-md-2"></div>
                           <div class=" form-group col-md-4 autocomplete">
                               <label for="Pais" class="footerEnBlanco">País</label>
                               <input id="Pais" class="form-control autocomplete" type="search" placeholder=""
                                      name="Pais" />
                           </div>
                           <div class="form-group col-md-3 autocomplete">
                               <label for="Comunidad" class="footerEnBlanco">Comunidad</label>
                               <input id="Comunidad" class="form-control autocomplete" type="search"
                                      placeholder="" name="Comunidad" />
                           </div>
                           <div class="form-group col-md-2 autocomplete">
                               <label for="Localidad" class="footerEnBlanco">Provincia</label>
                               <input id="Localidad" class="form-control autocomplete" type="search"
                                      placeholder="" name="Localidad" />
                           </div>
                           <div class="col-md-1"></div>
                       </div>
                       <div class="row ">
                           <div class="col-md-2"></div>
                           <div class="form-group col-md-2 ">
                               <label for="CodigoPostal" class="footerEnBlanco">CP</label>
                               <input id="CodigoPostal" class="form-control autocomplete" type="text"
                                      placeholder="" name="CodigoPostal" />
                           </div>
                           <div class="form-group col-md-7">
                               <label for="Direccion" class="footerEnBlanco">Dirección</label>
                               <input type="text" name="Direccion" class="form-control" id="Direccion">
                           </div>

                           <div class="col-md-1"></div>
                       </div>



                       <div class="row">
                           <div class="col-md-1"></div>

                           <span class="col-md-1 mb-2 px-xl-5 px-md-4">
                               <i class="fa fa-comment bigicon d-inline-block "></i>
                           </span>
                           <div class="col-md-9 mb-3">
                               <textarea class="form-control" id="Descripcion" name="Descripcion"
                                         placeholder="Introduce una descripción:"
                                         rows="8"></textarea>
                           </div>
                           <div class="col-md-1"></div>
                       </div>



                       <div class="form-group">
                           <div class="col-md-12 mt-3 footerEnBlanco">
                               <!-- <button type="submit" class="btn btn-primary btn-lg">Submit</button> -->
                               <input asp-for="MyImage" />
                           </div>
                       </div>
                       <div class="form-group">
                           <div class="col-md-12 mt-3">
                               <!-- <button type="submit" class="btn btn-primary btn-lg">Submit</button> -->
                               <input type="submit"  id="btnvalidar" class="btn btn-primary" value="Registrar">
                           </div>
                       </div>
                   </div>
                    
                    
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    FormAbuelo();
</script>

