﻿@namespace Avus_02.Model
@using Avus_02.Model
@using Avus_02.Controllers
@using System.Text;

@{

    ViewData["Title"] = "Habitaciones";
    Layout = "_LayoutAbuelo";
}

<div class="row">
    <div class="col-md-6 d-none">
        <div class="card m-3" id="cartaLlena" style="max-width: 520px;">
            <div class="row">
                <div class="col-xl-6 text-center">
                    <div class="d-flex align-items-center justify-content-center m-3 mt-xl-2 ml-xl-2 mb-xl-2 mr-xl-n3">
                        <img src="~/images/Andromeda.jpg" class="card-img rounded" alt="...">
                    </div>
                    <div class="text-center mt-2">
                        <h1 class="card-title responsive-title">Habitación 1</h1>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="card-body mr-2">
                        <div class="row">
                            <div class="card-text mt-n2 mb-2 w-100">
                                <textarea readonly class="card-text m-1 m-xl-0 text-justify boxsizingBorder" style="min-height: 120px;">
                                            This is a wider card with
                                            supporting text below
                                            as a
                                            natural
                                            lead-in to
                                            additional content. This content is a little bit longer.
                                        </textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 pl-5 ml-md-n3 ml-lg-0 pl-xl-0 text-xl-left">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input active" type="checkbox" id="invitados"
                                           value="21" disabled>
                                    <label class="form-check-label" for="1">Invitados</label>
                                </div>
                            </div>
                            <div class="col-6 pl-5 ml-md-n3 ml-lg-0 pl-xl-0 text-xl-left">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input active" type="checkbox" id="fumadores"
                                           value="2" disabled>
                                    <label class="form-check-label" for="2">Fumadores</label>
                                </div>
                            </div>
                            <div class="col-6 pl-5 ml-md-n3 ml-lg-0 pl-xl-0 text-xl-left">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input active" type="checkbox" id="mascotas"
                                           value="3" disabled>
                                    <label class="form-check-label" for="3">Mascotas</label>
                                </div>
                            </div>
                            <div class="col-6 pl-5 ml-md-n3 ml-lg-0 pl-xl-0 text-xl-left">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="wifi" value="4"
                                           disabled>
                                    <label class="form-check-label" for="4">Wi-Fi</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 pl-5 ml-md-n3 ml-lg-0 pl-xl-0 text-xl-left">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input active" type="checkbox" id="1" value="5"
                                           disabled>
                                    <label class="form-check-label" for="1">Disponible</label>
                                </div>
                            </div>
                            <div class="col-6 pl-5 ml-md-n3 ml-lg-0 pl-xl-0 text-xl-left d-inline-block">
                                <a class="btn btn-primary btn-sm mb-2" href="#" role="button">Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Div vacío en el que irán las nuevas habitaciones que se creen. Tendrá un display none por defecto. Cuando se añada
        una habitación cambiará a nada o lo que le toque.-->
    <div class="col-md-6 d-none" id="emptyDiv"></div>

    <div class="col-md-6">
        <div class="card m-3 text-center centered position-relative" id="cartaVacia" style="max-width: 520px; min-height: 250px;">
            <a asp-action="CrearHabitacion" asp-controller="Habitaciones">
                <div class="rounded-circle circle">
                    <i class="fa fa-plus bigPlus" aria-hidden="true"></i>
                </div>
            </a>
        </div>
    </div>
</div>


<!--Recorro la lista de habitaciones para ir mostrandolas-->
@{
    int index = 1;
    foreach (var item in ViewBag.listaHabitaciones)
    { 
        var path = AbuelosController.ImageHabitaciones(item.IdHabitacion);
        <script>
            crearCarta(@index, @item.Disponible, "@item.Descripcion", @item.Invitados, @item.Fumar, @item.Mascotas, @item.Wifi, "@path");
        </script>
        index++;    
    }
}

