﻿
@{

    ViewData["Title"] = "PerfilEstudiante";
    Layout = "_LayoutAbuelo";

}
@section Styles {
    <link href="~/css/PerfiEstudiante.css" rel="stylesheet" type="text/css" />
}
<h2>EstudianteSolicitud</h2>
<!--1.FOTO
    2.Nombre
    3.Genero
    5.Nacionalidad
    4.Estudios
    5.Descripcion
    *6.Aceptar Denegar*-->
<div class="container-fluid">
    <div class="row">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="~/images/estudiantesRecorte.jpg" alt="Profile image example" />
            <img align="left" id="imagenPerfilestudiante" class="fb-image-profile thumbnail" alt="Profile image example" />
            <div class="fb-profile-text">
                <h1 id="nombrecompleto"></h1>

            </div>
        </div>
    </div>
</div> <!-- /container fluid-->
<div class="container">
    <div class="row">
        <div class="col-sm-8">

            <div data-spy="scroll" class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">
                                Descrpción
                            </a>
                        </li>
                        <li>
                            <a href="#tab_default_2" data-toggle="tab">
                                Opiniones
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">
                            
                        </div>
                        <div class="tab-pane" id="tab_default_2">
                            <ul id="opiniones" class="list-group"></ul>
                        </div>
                        
                       
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="menu_title">
                    Datos Personales
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <p id = "email"></p>
                            </div>
                            <div class="form-group">
                                <label for="email">Telf:</label>
                                <p id = "telefono"></p>
                            </div>
                            <div class="form-group">
                                <label for="email">Genero:</label>
                                <p id="genero"></p>
                            </div>
                            <div class="form-group">
                                <label for="email">Fecha nacimiento:</label>
                                <p id="edad"></p>
                            </div>
                            <div class="form-group">
                                <label for="email">Estudios:</label>
                                <p id="estudios"> </p>
                            </div>
                            <div class="form-group">
                                <label for="email">Nacionalidad:</label>
                                <p id="nacionalidad"></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<script>

    var opinionesjs = [];
    var estudiantejs;
    @foreach (var item in ViewBag.estudiante)
    {
       @: estudiantejs = ({id: "@item.IdEstudiante", email: "@item.Email", nombre: "@item.Nombre",edad: "@item.FechaNacimiento", apellidos: "@item.Apellidos", descripcion: "@item.Descripcion", nacionalidad: "@item.Nacionalidad", foto: "@item.FotoPerfil", sexo: "@item.Sexo", telefono: "@item.Telefono", estudios: "@item.Estudios"});
    }
    @foreach (var item in ViewBag.listaopiniones) {
       @: opinionesjs.push({contenido: "@item.Opinion"});
    }
    crearEstudiante(estudiantejs,opinionesjs);


</script>
