﻿
@model Avus_02.Model.Abuelo;
@using Avus_02.Model;

@{
    ViewData["Title"] = "Solicitudes";
    Layout = "_LayoutAbuelo";
    //var habitacions = Model.Habitacion;
    //foreach (var solicitudes in habitacions.Solicitud) { }
    List<Solicitud> solicitudes = new List<Solicitud>();
    foreach (var item in ViewBag.ListaSolictudes)
    {
        solicitudes.Add(item);
    }
    int contador = 0;

}



<div class="row dash-row">
    <div class="col-xl-12">
        <div class="card card-solid bg-success1 bg-success mt-4">
            <div class="card-body pb-0">
                <div class="stats stats-success">
                    <div class="card-header my-n2">
                        <h3 class="stats-title"> Peticiones Aceptadas </h3>


                    </div>
                    <div id="peitcionesAceptadas" class="row d-flex align-items-stretch my-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card card-solid bg-success2 bg-primary">
            <div class="card-body pb-0">
                <div class="stats stats-success">
                    <div class="card-header my-n2">
                        <h3 class="stats-title"> Peticiones en proceso </h3>
                    </div>
                    <div id="peitcionesProceso" class="row d-flex align-items-stretch my-4">



                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card card-solid bg-success3 bg-secondary">
            <div class="card-body pb-0">
                <div class="stats stats-success">
                    <div class="card-header my-n2">
                        <h3 class="stats-title"> Peticiones Recibidas </h3>
                    </div>
                    <div id="peitcionesRecibidas" class="row d-flex align-items-stretch my-4">



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    var solictudesjs = [];
    var estudiantesjs = [];
    @foreach (var item in ViewBag.ListaSolictudes)
    {
       @: solictudesjs.push({id: "@item.IdSolicitud", nombre: '@ViewBag.Listanombres[contador]', fecha_solicitud: "@item.FechaSolicitud", aceptacion: "@item.Aceptacion", fecha_primer_dia: "@item.FechaPrimerDia", fecha_ultimo_dia: "@item.FechaUltimoDia", id_estudiante: "@item.IdEstudiante", id_habitacion: "@item.IdHabitacion"});
        contador++;
    }
    @foreach (var item in ViewBag.ListaEstudiantes) {
       @: estudiantesjs.push({id: "@item.IdEstudiante", email: "@item.Email", edad: "@item.FechaNacimiento", apellidos: "@item.Apellidos", descripcion: "@item.Descripcion", nacionalidad: "@item.Nacionalidad", foto: "@item.FotoPerfil", sexo: "@item.Sexo", telefono: "@item.Telefono", estudios: "@item.Estudios"});   
    }
    ordenarSolicitudes(solictudesjs,estudiantesjs);

</script>

