﻿@model Avus_02.Model.Estudiante

@{
    ViewData["Title"] = "Busqueda";
    Layout = "_LayoutEstudiante";
}



<div class="row text-center">
    <div class="col-md-12">
        <div class="well well-sm">
            <form class="form-horizontal" asp-controller="Estudiantes" asp-action="ResultadoBusqueda" method="post" >
                <fieldset>

                                          <!--Forms con icono y input bien puesto-->
                    <div class="card mt-5">

                        <div class="form-group">
                            <div class="col-md-12 mt-5">
                                <span class="centrarTitulo">
                                    Búsqueda
                                </span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class=" form-group col-md-3 mt-3">
                                <select id="Pais" name="Pais" type="text" placeholder="" class="custom-select">
                                    <option selected>País</option>
                                    <option value="1">España</option>
                                    <option value="2">Francia</option>
                                    <option value="3">Alemania</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 mt-3 ">
                                <select id="Comunidad" name="Comunidad" type="text" placeholder="" class="custom-select">
                                    <option selected>Comunidad</option>
                                    <option value="1">Cataluña</option>
                                    <option value="2">Madrid</option>
                                    <option value="3">Extremadura</option>
                                </select>
                            </div>


                            <div class="form-group col-md-3 mt-3 ">

                                <select id="Provincia" name="Provincia" type="text" placeholder="" class="custom-select">
                                    <option selected>Provincia</option>
                                    <option value="1">Barcelona</option>
                                    <option value="2">Madrid</option>
                                    <option value="3">Tarragona</option>
                                </select>
                            </div>

                            <div class="col-md-1"></div>
                        </div>


                        <div class="row">

                            <div class="col-md-2"></div>
                            <div class="form-group col-md-3 ">

                                <select id="Localidad" name="Localidad" type="text" placeholder="" class="custom-select">
                                    <option selected>Localidad</option>
                                    <option value="1">Barcelona</option>
                                    <option value="2">Cornellà</option>
                                    <option value="3">Hospitalet de Llobregat</option>
                                </select>
                            </div>


                            <div class="form-group col-md-3 ">

                                <select id="CodigoPostal" name="CodigoPostal" type="text" placeholder="" class="custom-select">
                                    <option selected>Código Postal</option>
                                    <option value="1">Hombre</option>
                                    <option value="2">Mujer</option>
                                    <option value="3">Otro</option>
                                </select>
                            </div>

                            <div class="col-md-3 mb-3">
                                <select id="Sexo" name="Sexo" type="text" placeholder="" class="custom-select">
                                    <option selected>Género</option>
                                    <option value="1">Hombre</option>
                                    <option value="2">Mujer</option>
                                    <option value="3">Otro</option>
                                </select>

                            </div>
                            <div class="col-md-1"></div>
                        </div>


                        <div class="form-group text-center mt-3">



                            <div class="form-check form-check-inline ">
                                <input class="form-check-input" type="checkbox" name="Disponible" id="inlineCheckbox1" value="on">
                                <label class="form-check-label" for="inlineCheckbox1">Disponible</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input class="form-check-input" type="checkbox" name="Mascotas" id="inlineCheckbox2" value="on">
                                <label class="form-check-label" for="inlineCheckbox2">Mascotas</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input class="form-check-input" type="checkbox" name="Invitados" id="inlineCheckbox3" value="on">
                                <label class="form-check-label" for="inlineCheckbox3">Invitados</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input class="form-check-input" type="checkbox" name="Fumadores" id="inlineCheckbox1" value="on">
                                <label class="form-check-label" for="inlineCheckbox1">Fumadores</label>
                            </div>
                            <div class="form-check form-check-inline ">
                                <input class="form-check-input" type="checkbox" name="Wifi" id="inlineCheckbox2" value="on">
                                <label class="form-check-label" for="inlineCheckbox2">Wi-Fi</label>
                            </div>

                        </div>

                        <!--Falta arreglar checkbox-->


                        <div class="form-group">
                            <div class="col-md-12 mb-3 mt-3">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </div>

                </fieldset>           
            </form>
        </div>
    </div>
</div>
