﻿@model Avus_02.Model.Estudiante
@{
    ViewData["Title"] = "EditarEstudiante";
    Layout = "_LayoutEstudiante";
}

<div class="row text-center">
    <div class="col-md-12">
        <div class="well well-sm">
            <form asp-action="EditarEstudiante" class="form-horizontal footerEnBlanco">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdEstudiante" />
                <input type="hidden" asp-for="Nombre" />
                <input type="hidden" asp-for="Apellidos" />
                <input type="hidden" asp-for="Nacionalidad" />
                <input type="hidden" asp-for="Dni" />
                <input type="hidden" asp-for="FotoPerfil" />
                <input type="hidden" asp-for="FechaNacimiento" />
                <input type="hidden" asp-for="Sexo" />
                <fieldset>
                    <div class="tituloh1">
                        <span class="centrarTitulo">
                            Editar Información
                        </span>
                    </div>


                    <div class="row">
                        <div class="col-md-1">

                        </div>

                        <span class="col-md-1 mb-2"><i class="fa fa-envelope-o bigicon"></i></span>


                        <div class="form-group form-goup col-md-4 mb-3">
                            <input asp-for="Email" id="Email" type="email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <span class="col-md-1 col-md-offset-2 mb-2">
                            <i class="fa fa-unlock-alt bigicon"></i>
                        </span>

                        <div class="col-md-4 d-inline-block mb-3">
                            <div class="input-group">
                                <input asp-for="Password" name="Password" type="password" placeholder="Nueva Contraseña"
                                       class="form-control">
                                <div class="input-group-append">
                                    <button id="show_password" class="btn btn-primary" type="button" onclick="mostrarPassword()"> <span class="fa fa-eye-slash icon"></span> </button>
                                </div>

                            </div>
                        </div>

                            <div class="col-md-1"></div>

                    </div>


                    <div class="row">

                        <div class="col-md-1"></div>

                        <span class="col-md-1 mb-2"><i class="fa fa-graduation-cap bigicon"></i></span>
                        <div class="form-group col-md-4 ">
                            
                            <select asp-for="Estudios" name="Estudios" id="Estudios" type="text" class="custom-select">
                                <option value="0" selected="">Nivel de estudios</option>
                                <option value="1">Ciclo formativo grado superior</option>
                                <option value="2">Graduado univesitario</option>
                                <option value="3">Masters y posgrados</option>
                                <option value="4">Otros</option>
                            </select>

                        </div>

                        <span class="col-md-1 mb-2"><i class="fa fa-phone-square bigicon"></i></span>
                        <div class="form-group col-md-4 d-inline-block mb-3">
                            <input asp-for="Telefono" id="Telefono" name="Telefono" type="text" placeholder="Ej. 615231546"
                                   class="form-control">

                        </div>

                        <div class="col-md-1"></div>
                    </div>






                    <div class="row">

                        <div class="col-md-1"></div>


                        <span class="col-md-1 mb-2 px-xl-5 px-md-4">
                            <i class="fa fa-comment bigicon d-inline-block "></i>
                        </span>
                        <div class="col-md-9 mb-3">
                            <textarea asp-for="Descripcion" class="form-control" name="Descripcion"
                                      placeholder="Introduce una descripción:"
                                      rows="8"></textarea>
                        </div>

                        <div class="col-md-1"></div>

                    </div>


                    <div class="form-group">
                        <div class="col-md-12 form-group">
                            <!-- <input type="submit" value="Save" class="btn btn-default btn btn-primary btn-lg" /> -->
                            <!-- <button type="submit" class="btn btn-primary btn-lg">Submit</button> -->
                            <input type="submit" id="btnvalidar" class="btn btn-primary" value="Guardar">
                        </div>
                    </div>

                </fieldset>
            </form>
</div>
    </div>
</div>

<script>
    EditEstudiante();
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
