﻿
@{

    ViewData["Title"] = "PerfilAbuelo";
    Layout = "_LayoutEstudiante";

}
@section Styles {
    <link href="~/css/PerfiEstudiante.css" rel="stylesheet" type="text/css" />
}
<div class="container-fluid">
    <div class="row">
        <div class="fb-profile">
            <img align="left" class="fb-image-lg" src="~/images/abuelosperfil.jpg" alt="Profile image example" />
            <img align="left" id="imagenPerfilestudiante" class="fb-image-profile thumbnail" alt="Profile image example" />
            <div class="fb-profile-text">
                <h1 id="nombrecompleto"></h1>

            </div>
        </div>
    </div>
</div> <!-- /container fluid-->
<div class="container">
    <div class="row">
        <div class="col-sm-8">

            <div data-spy="scroll" class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">
                                Descrpción
                            </a>
                        </li>
                        <li>
                            <a href="#tab_default_2" data-toggle="tab">
                                Opiniones
                            </a>
                        </li>
                        <li>
                            <a href="#tab_default_3" data-toggle="tab">
                                Habitaciones
                            </a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">

                        </div>
                        <div class="tab-pane" id="tab_default_2">
                            <ul id="opiniones" class="list-group"></ul>
                        </div>
                        <div class="tab-pane" id="tab_default_3">



                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="menu_title">
                    Datos Personales
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">

                            <div class="form-group">
                                <label for="email">Genero:</label>
                                <p id="genero"></p>
                            </div>
                            <div class="form-group">
                                <label for="email">Fecha nacimiento:</label>
                                <p id="edad"></p>
                            </div>
                            <div class="form-group">
                                <label for="email">Nacionalidad:</label>
                                <p id="nacionalidad"></p>
                            </div>
                            <div class="form-group">
                                <label for="email">Telefono:</label>
                                <p id="telefono"></p>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <p id="email"></p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
       
     var abuelosjs = [];
     var habitacionesjs = [];
     var opinionesjs = [];
    @foreach (var item in ViewBag.Abuelo)
    {
       @: abuelosjs.push({ id: "@item.IdAbuelo", nombre: "@item.Nombre", apellidos: "@item.Apellidos",email:"@ViewBag.Email",telefono:"@ViewBag.Telefono" , descripcion: "@item.Descripcion", nacionalidad: "@item.Nacionalidad", edad: "@item.FechaNacimiento", sexo: "@item.Sexo" });
    }
    @foreach (var item in ViewBag.ListaHabitaciones) {
       @: habitacionesjs.push({ id: "@item.IdHabitacion", descripcion: "@item.Descripcion", fumar: "@item.Fumar", wifi: "@item.Wifi",disponible: "@item.Disponible",mascotas: "@item.Mascotas",invitados: "@item.Invitados" });
    }
     @foreach (var item in ViewBag.OpinionesAbuelo) {
       @: opinionesjs.push({contenido: "@item.Opinion"});
    }
    perfildelabuelo(abuelosjs, habitacionesjs, opinionesjs);


    
    

</script>
