﻿@using Avus_02.Model;

@{
    ViewData["Title"] = "ResultadoBusqueda";
    Layout = "_LayoutEstudiante";
}
@section Styles {
    <link href="~/css/AbueloBusqueda.css" rel="stylesheet" type="text/css" />
}
<div class="row dash-row">
    <div class="col-xl-12">
       
                    <div id="peitcionesAceptadas" class="row d-flex align-items-stretch my-4">

                    </div>
                </div>
</div>

<script>

    var abuelosjs = [];
    var habitacionesjs = [];
    @foreach (var item in ViewBag.ListaAbuelos)
    {
       @: abuelosjs.push({ id: "@item.IdAbuelo", nombre: "@item.Nombre", apellidos: "@item.Apellidos", descripcion: "@item.Descripcion", nacionalidad: "@item.Nacionalidad", edad: "@item.FechaNacimiento", sexo: "@item.Sexo" });
    }
    @foreach (var item in ViewBag.ListaHabitaciones) {
       @: habitacionesjs.push({ id: "@item.IdHabitacion", descripcion: "@item.Descripcion", fumar: "@item.Fumar", wifi: "@item.Wifi",disponible: "@item.Disponible",mascotas: "@item.Mascotas",invitados: "@item.Invitados" });
    }
    visualizarAbuelos(abuelosjs,habitacionesjs);


</script>
