﻿@model Avus_02.Model.Estudiante;
@using Avus_02.Model;
@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutEstudiante";
    int contador = 0;
}

<div class="row dash-row">
    <div class="col-xl-12">
        <div class="card card-solid bg-success1 bg-success mt-4">
            <div class="card-body pb-0">
                <div class="stats stats-success">
                    <div class="card-header my-n2">
                        <h3 class="stats-title"> Solicitudes Aceptadas </h3>


                    </div>
                    <div id="peitcionesAceptadas" class="row d-flex align-items-stretch my-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card card-solid bg-success2 bg-primary">
            <div class="card-body pb-0">
                <div class="stats stats-success">
                    <div class="card-header my-n2">
                        <h3 class="stats-title"> Solicitudes en proceso </h3>
                    </div>
                    <div id="peitcionesProceso" class="row d-flex align-items-stretch my-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card card-solid bg-success3 bg-secondary">
            <div class="card-body pb-0">
                <div class="stats stats-success">
                    <div class="card-header my-n2">
                        <h3 class="stats-title"> Solicitudes en curso </h3>
                    </div>
                    <div id="peitcionesRecibidas" class="row d-flex align-items-stretch my-4">



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>


    var habitacionesjs = [];
            var solictudesjs = [];

    @foreach (var item in ViewBag.ListaHabitaciones)
    {
       @: habitacionesjs.push({ id: "@item.IdHabitacion", name: '@ViewBag.nombreshabitaciones[contador]', descripcion: "@item.Descripcion", fumar: "@item.Fumar", wifi: "@item.Wifi",disponible: "@item.Disponible",mascotas: "@item.Mascotas",invitados: "@item.Invitados",id_abuelo:"@item.IdAbuelo" });
        contador++;
    }

    @foreach (var item in ViewBag.ListaSolicitudesEstudiante)
    {
       @: solictudesjs.push({id: "@item.IdSolicitud", fecha_solicitud: "@item.FechaSolicitud", aceptacion: "@item.Aceptacion", fecha_primer_dia: "@item.FechaPrimerDia", fecha_ultimo_dia: "@item.FechaUltimoDia", id_estudiante: "@item.IdEstudiante", id_habitacion: "@item.IdHabitacion"});
    }

    ordenarSolicitudes2(solictudesjs,habitacionesjs);
      //  comprobarSolicitudes(solictudesjs);
      //  comprobarEstudiantes(estudiantesjs);

</script>
